body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    line-height: 1.2;
}

a {
    color: #039BE5;
}

#top {
    background-color: #eeeeee;
    height: 250px;
    padding: 5px;
    margin-bottom: -120px;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 470px;
}

#invert {
    display: block;
    position: absolute;
    left: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: -25px;
    margin-top: 0.5em;
    border-radius: 100%;
    border: none;
    box-shadow: 0 1px 3px #b8b8b8;
    background-color: #dedede;
    cursor: pointer;
    transition: box-shadow 0.5s;
    z-index: 5;
}

#invert:hover {
    box-shadow: 0 2px 3px #b8b8b8;
}

#invert img {
    vertical-align: middle;
    width: 30px;
}

#lang-selector-container {
    display: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: #fcfcfc;
    width: 100%;
    margin-left: -50%;
    margin-top: -1em;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 6px #007bff6e;
    z-index: 3;
    transition: margin-top 0.5s, opacity 0.5s;
}

#lang-selector-container.active {
    display: block;
    pointer-events: auto;
    opacity: 1;
    margin-top: -5px;
}

#lang-selector-container h2 {
    margin: 5px 0;
    text-align: center;
}

#lsc-close {
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #727272;
    cursor: pointer;
}

.lang-button {
    width: 50%;
    display: inline-block;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #e5e5e5;
    border: 2px solid white;
    border-radius: 5px;
}

.lang-button:hover {
    background-color: #c5c5c5;
}

.lang-button .lang-button-number {
    font-size: 0.8em;
    color: #787878;
}

#lang-selector-container select {
    width: 100%;
}

#og-tr-container {
    max-width: 1290px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 1px 3px #b8b8b8;
    border-radius: 5px;
}

.pane {
    flex: 1;
    box-sizing: border-box;
    position: relative;
}

#og {
    background-color: white;
}

#tr {
    background-color: whitesmoke;
}

.title-container {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #c1c1c1;
    z-index: 4;
}

#og-title-container {
    display: flex;
    background-color: white;
}

#tr-title-container {
    background-color: whitesmoke;
    display: flex;
    align-items: flex-start;
}

#og-title {
    flex: 1;
    font-size: 2em;
    margin: -2px 0;
    line-height: 1.15;
    border: none;
    border-bottom: 3px solid #99c3ff;
    transition: border 0.5s;
    background: none;
}

#og-title:focus {
    border-bottom: 3px solid #039BE5;
}

#tr-title {
    text-align: right;
    font-size: 2em;
    color: #039BE5;
    flex: 1;
}

#search-results {
    position: absolute;
    left: 15px;
    right: 15px;
    background-color: whitesmoke;
    box-shadow: 0 1px 3px #b8b8b8;
    z-index: 2;
}

.search-result {
    padding: 5px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #e8e8e8;
}

.search-result.active {
    background-color: #dedede;
}

.lang-name {
    color: #4c4c4c;
}

.lang-number {
    color: #949494;
}

#og-lang {
    float: right;
    text-align: right;
    margin: 0 25px;
}

#og-lang::after {
    left: 5px;
}

#tr-lang {
    margin-left: 25px;
}

#tr-lang::after {
    right: 5px;
}

.lang {
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #039BE500;
    margin-bottom: -2px !important;
    transition: border-bottom 0.5s;
}

.lang::after {
    content: "";
    opacity: .3;
    position: absolute;
    bottom: 0.4em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    transition: opacity 0.5s, border-color 0.5s;
}

.lang.active {
    border-bottom: 2px solid #039BE5;
}

.lang.active::after {
    opacity: 1;
    border-color: #007bff transparent transparent transparent;
}

.hatnotes {
    clear: both;
    font-size: 0.85em;
    color: #6c6c6c;
    text-align: justify;
}

.hatnote {
    margin: 10px 30px;
}

.text {
    padding: 0 15px;
    text-align: justify;
}

.pane table, .pane img {
    display: none;
}

.article-link {
    display: inline-block;
    margin: 0 15px 15px 15px;
}

.article-link.disabled {display: none;}

#gt {
    color: #6c6c6c;
    font-size: 0.9em;
    text-align: center;
    margin: 5px;
}

#gt a {
    color: #4893ff;
}

#about {
    width: 100%;
    max-width: 1290px;
    padding: 60px 15px;
    padding-top: 25px;
    margin: 0 auto;
    box-sizing: border-box;
}

#about h1 {
    color: #039BE5;
    text-align: center;
}

#about h2 {
    text-align: center;
    color: grey;
}

#pros {
    display: flex;
}

.pro {
    flex: 1;
    padding: 15px;
    text-align: justify;
}

.pro h3 {
    color: #039BE5;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}

.pro img {
    display: block;
    margin: 0 auto;
}

#donate {
    background-color: #676767;
    padding: 15px;
    color: white;
    text-align: justify;
}

#donate div {
    max-width: 1290px;
    margin: 0 auto;
}

#donate a {
    color: #c3c3c3;
}

#footer {
    background-color: #3e3e3e;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}

#footer div {
    max-width: 1290px;
    margin: 0 auto;
}

#footer a {
    color: white;
}

@media only screen and (max-width: 700px) {
    #top {
        height: auto;
        margin-bottom: 0;
    }

    #logo {
        width: 100%;
    }

    #og-tr-container {
        flex-direction: column;
        width: 100%;
    }

    #invert {
        position: relative;
        margin-top: 0;
        margin-bottom: -25px;
    }

    .pane {
        position: initial;
    }

    #og-lang {
        margin: 0 0 0 25px;
        text-align: left;
    }

    #og-lang::after {
        right: 5px;
        left: auto;
    }

    #tr-title-container {
        flex-direction: row-reverse;
        padding-top: 25px;
    }

    #tr-title {
        text-align: left;
    }

    #lang-selector-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 0;
        z-index: 5;
        overflow-y: scroll;
    }

    #lsc-close {
        display: block;
    }

    #pros {
        flex-direction: column;
    }
}
