body {
    font-family: 'Roboto', sans-serif;
    color: #313131;
    line-height: 1.2;
}

a {
    color: #0069ff;
}

#invert {
    display: block;
    position: absolute;
    left: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: -25px;
    margin-top: 0.5em;
    border-radius: 100%;
    border: none;
    box-shadow: 0 1px 3px #b8b8b8;
    background-color: #dedede;
    cursor: pointer;
    transition: box-shadow 0.5s;
    z-index: 4;
}

#invert:hover {
    box-shadow: 0 2px 3px #b8b8b8;
}

#invert img {
    vertical-align: middle;
    width: 30px;
}

#lang-selector-container {
    display: none;
}

#og-tr-container {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 1px 3px #b8b8b8;
    border-radius: 5px;
}

.pane {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

#tr {
    background-color: whitesmoke;
}

.title-container {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #c1c1c1;
    z-index: 3;
}

#og-title-container {
    display: flex;
    background-color: white;
}

#tr-title-container {
    background-color: whitesmoke;
    display: flex;
}

#og-title {
    flex: 1;
    font-size: 2em;
    margin: -2px 0;
    line-height: 1.15;
    border: none;
    border-bottom: 3px solid #99c3ff;
    transition: border 0.5s;
    background: none;
}

#og-title:focus {
    border-bottom: 3px solid #0069ff;
}

#tr-title {
    text-align: right;
    font-size: 2em;
    color: #0069ff;
    flex: 1;
}

#search-results {
    position: absolute;
    left: 15px;
    right: 15px;
    background-color: whitesmoke;
    box-shadow: 0 1px 3px #b8b8b8;
    z-index: 2;
}

.search-result {
    padding: 5px;
}

.lang-name {
    color: #4c4c4c;
}

.lang-number {
    color: #949494;
}

#og-lang {
    float: right;
    text-align: right;
    margin: 0 25px;
}

#tr-lang {
    margin-left: 25px;
}

.hatnotes {
    clear: both;
    font-size: 0.85em;
    color: #3b3b3b;
    text-align: justify;
}

.hatnote {
    margin: 10px 30px;
}

.text {
    padding: 0 15px;
    text-align: justify;
}

.pane table, .pane img {
    display: none;
}

.article-link {
    display: block;
    margin: 15px;
}
